.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    .header-text {
        font-family: 'Poppins';
        font-size: 46px;
        color: #0085FF;
    }
    .FormContainer {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background-color: blue;
        .user-names {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            //gap: 10px;
            justify-content: space-between;
        }
        .email {
            margin-top: 31px;
            width: 100%;
        }
        .password {
            display: flex;
            flex-direction: column;
            gap: 31px;
            margin-top: 31px;
            width: 100%;
            
        }
        .submit-button{
            width: 45%;
            height: 46px;
            margin-top: 31px;
            background: #0085FF;
            color: #FFFFFF;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 600;
            font-family: 'Poppins';
            font-size: 16px;
            &:hover {
                background: #59AFFF;
            }
        }
    }
    .old-member{
        margin-top: 26px;
        color: #484848;
        font-size: 16px;
        font-family: 'Roboto';
        .login-text {
            color: #0085FF;
        }
    }
    .business-signup{
        margin-top: 26px;
        color: #222222;
        font-family: 'Roboto';
        .business-signup-link {
            color: #0085FF;

        }
    }
}