h2, p {
    margin: 0%;
}
.container {
    width: 90%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
    color: var(--body-font-color);
    .container-header {
        font-family: var(--body-font);
        font-size: 32px;
        font-style: normal;
        color: var(--body-font-color);
        font-weight: 700;
    }
    .cart-info {
        box-sizing: border-box;
        margin: 5% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        .cart-product-image {
            //height: 100%;
            position: relative;
            top: 1%;
        }
        .cart-product-info {
            height: 100%;
            width: 23%;
            padding: 0 3%;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10%;
            align-items: center;
            text-align: left;
            .cart-product-name {
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 38px;
            }
            .cart-product-seller, .product-number-available {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }
        }
        .cart-product-price {
            height: 100%;
            width: 17%;
            display: flex;
            //flex-direction: column;
            justify-content: center;
            //gap: 10%;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-weight: 700;
            font-style: normal;
            font-size: 24px;
            line-height: 28px;
        }
        .quantity {
            height: 100%;
            width: 17%;
            display: flex;
            //flex-direction: column;
            justify-content: center;
            //gap: 10%;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            .number-selector {
                position: relative;
                width: 90%;
                height: 42px;
                background-color: #F6F6F6;
                box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                .minus, .plus, .number {
                    width: 33%;
                    margin: 0%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 38px;
                    color: var(--body-font-color);
                }
                .minus, .plus {
                    cursor: pointer;
                    &:hover {
                        //background-color: #999898;
                        color: #999898;
                    }
                }
                .number {
                    background: #FFFFFF;
                    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
                    border-radius: 4px;
                    height: 100%;
                    padding: 0 5px;
                }
            }
            
        }
        .cart-buttons {
            height: 100%;
            width: 17%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10%;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            .buy, .remove {
                width: 80%;
                height: 40px;
                box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                outline: none;
                border: none;
                font-family: var(--body-font);
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                cursor: pointer;
            }
            .remove {
                background-color: var(--secondary-color);
                color: var(--primary-color);
                &:hover {
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                }
            }
            .buy {
                background-color: var(--primary-color);
                color: var(--secondary-color);
                &:hover {
                    background-color: var(--secondary-color);
                    color: var(--primary-color);
                }
            }
        }
    }
    .checkout {
        width: 100%;
        display: flex;
        height: 66px;
        .checkout-amount, .checkout-button {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }
        .checkout-amount{
            width: 65%;
            background-color: #FFFFFF;
            box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding-left: 3%;
            
        }
        .checkout-button {
            width: 35%;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border: none;
            outline: none;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }
        }
    }
}