.hero {
    width: 100%;
    height: 418px;
    background-image: url('../../../images/Templates/Ecommerce/heroBackground.png');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--secondary-color);
    box-sizing: border-box;
    .hero-header {
        font-family: var(--name-font);
        font-weight: 700;
        font-size: 96px;
        margin: 0 auto;
    }
    .hero-text {
        font-family: var(--body-font);
        font-weight: 500;
        font-size: 24px;
        margin: 0px;
    }
    .subscribe {
        box-sizing: border-box;
        width: 30%;
        height: 46px;
        position: relative;
        right: -30%;
        bottom: -40px;
        font-family: var(--body-font);
        display: flex;
        .subscribe-input {
            box-sizing: border-box;
            height: 100%;
            width: 70%;
            padding: 0 24px;
            border: none;
            outline: none;
            font-size: 16px;
            &::placeholder {
                color: #D5D5D5; 
            }
        }
        .subscribe-button {
            height: 100%;
            width: 30%;
            border: none;
            cursor: pointer;
            color: var(--secondary-color);
            background-color: var(--primary-color);
            font-size: 24px;
            
        }
    }
}