.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0 auto;
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: inherit;
        .content-header {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 40px;
            color: #222222;
        }
        .section {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
        }
        .section-items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            //gap: 5%;
            .tile {
                width: 300px;
                height: 480px;
                background: #FFFFFF;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
                flex-direction: column;
                font-family: 'Roboto';
                .price {
                    font-weight: 700;
                    font-size: 24px;
                    color: #222222;
                }
                .available {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .number-available {
                        font-size: 16px;
                        color: #222222;
                    }
                }
            }
        }
    }
}