.dashboard{
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-pages-conatiner{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 93.5vh;
    display: flex;
    flex-flow: row;
}

.pages-container{
    width: 87%;
    height: 100%;
    overflow-x: auto;
}